	* {
    box-sizing: border-box;
}

.header {
    padding: 0px;
	text-align: left;
    background: #01042b;
    color: #ededed;
}

.header h1 {
	font-size: 30px;
	margin-left: 5%;
	font-family: STKAITI;
}

/* 导航 */
.navbar {
    overflow: hidden;
    background-color: #01042b;
}
 
/* 导航栏样式 */
.navbar a {
	border-style: solid;
	border-color: #e9cfae;
	border-width: 1.5px;
	border-bottom: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1.9% 2% ;
	font-size: 120%;
    text-decoration: none;
}
 
/* 右侧链接*/
.navbar a.right {
    float: right;
	background-color: #16245c;
	margin-right: 4%;
}

.navbar a:link {
    background-color: #16245c;
}


.navbar a:visited {
    background-color: #333333;
}

/* 鼠标移动到链接的颜色 */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.choose {
    float: right;
	margin-right: 4%;
	background-color: #333333;
}
